name: Build

on:
  workflow_run:
    workflows: [Test]
    types: [completed]
    branches: ["main"]
  push:
    branches-ignore:
      - "release/**"
    paths-ignore:
      - "**.md"
      - "docs/**"

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v4

      - name: Set SHORT_SHA environment variable
        run: echo "SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_ENV

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag ${{ vars.IMAGE_NAME }}:$SHORT_SHA

      - run: echo ${{ secrets.DOCKER_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Push the image to DockerHub
        run: docker push ${{ vars.IMAGE_NAME }}:$SHORT_SHA

  retag:
    needs: build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set SHORT_SHA environment variable
        run: echo "SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_ENV

      - name: Retag
        run: .github/retag.sh $SHORT_SHA

      - name: Configure git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Push changes
        run: |
          git switch deploy || git switch -c deploy
          git add .
          git commit -m "Update values.yml"
          git push origin deploy
